:root {
  /*color*/
  --sky-blue-color: #a5f7ff;
  --white-color: #ffffff;
  --black-color: #060400;
  --player-color: #6683d9;
  --menu-color: #5b4399;

  /*header*/

  --header-time-size: 3.125em;
  --header-name-size: 1.8em;
  --header-weather-size: 1.125em;
  --header-music-size: 0.95em;
  --name-input-font: 1.1em;
  --name-form: 12vw;
  --name-input-font: 1em;
  --music-btn-size: 2em;
  --music-btn-icon: 0.8em;

  /* menu */
  --menu-header-btn: 2em;
  --menu-header-icon: 1.2em;
  --menu-header-text: 2em;
  --menu--btn-icon: 1.3em;
  --menu-title-btn: 2em;
  --menu-item-btn: 1.3em;

  /* title */
  --title-size: 7.5em;

  /*todo  */
  --todo-header-btn: 3em;
  --todo-header-icon: 3em;
  --todo-list-contanier-height: 30vh;
  --todo-placeholder: 1em;
  --list-text-size: 1.5em;
  --todo-text: 1em;
  --todo-del: 1.4em;
  --todo-input-font: 1em;
  --todo-list-header: 1em;

  /* movie */
  --movie-header-icon: 2em;
  --movie-content-header: 2.25em;
  --photo-width: 24vw;
  --photo-height: 45vh;
  --radio-size: 0.7em;

  /* follow */
  --follow-btn-size: 2em;
  --follow-btn-icon: 1em;

  /*border*/
  --border: 2px solid var(--white-color);
  --photo-border: 4px solid;
}
